#{extends 'main.html' /}

<table class="table">
    <thead>
    <tr>
        <th class="span2">dateText</th>
        <th class="span1">geo lat</th>
        <th class="span1">geo lng</th>
        <th class="span2">geo address</th>
        <th class="span2">deadCount</th>
        <th class="span2">description</th>
        <th class="span2">tag</th>
    </tr>
    </thead>
    <tbody>
    #{list items:accidents, as:"accident"}
    <tr>
        <td>${accident.dateText}</td>
        #{if accident.geo !=null}
            <td>${accident.geo.geometry.location.lat}</td>
            <td>${accident.geo.geometry.location.lng}</td>
            <td>${accident.geo.formatted_address}</td>
        #{/if}
        #{else}
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
        #{/else}
        <td>${accident.deadCount}</td>
        <td>${accident.description}</td>
        <td>${accident.tags}</td>
    </tr>
    #{/list}
    </tbody>
</table>
