#{extends 'main.html' /}

<style type="text/css">

    #page {
        height: 100%;
    }

    #pagecontent {
        height: 100%;
    }

    #map-canvas, #map_canvas {
        height: 100%;
    }

    #map-canvas img {
        max-width: none !important;
    }

    #infotable {
        margin-top: 20px;
    }

</style>

<script>
    jQuery(function () {

        function initialize() {
            var settingsItemsMap = {
                zoom: 4,
                center: new google.maps.LatLng(35.424867, 103.502197),
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.LARGE
                },
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'), settingsItemsMap);

            var accidentElements = document.getElementsByClassName('accident')
            var accidents = new Array()
            for (var i = 0; i < accidentElements.length; i++) {
                var accident = accidentElements[i]
                accidents[i] = {
                    lat: accident.getAttribute('lat'),
                    lng: accident.getAttribute('lng'),
                    deadCount: accident.getAttribute('deadCount'),
                    desc: accident.getAttribute('desc')
                }
                console.log('acc,' + JSON.stringify(accidents[i]))
            }
            for (var i = 0; i < accidents.length; i++) {
                var accident = accidents[i]
                var infowindow = new google.maps.InfoWindow({
                    content: accident.desc,
                    maxWidth: 300
                })
                var myMarker = new google.maps.Marker({
                    position: new google.maps.LatLng(accident.lat, accident.lng)
                })

                google.maps.event.addListener(myMarker, 'click', (function (event, index) {
                    return function () {
                        infowindow.content = accidents[index].desc + "<br>"
                        infowindow.open(map, this);
                    }
                })(myMarker, i))

                myMarker.setMap(map);
            }
        }

        initialize()
    })

</script>


<div class="btn-toolbar">
    <div class="btn-group">
        <a class="btn btn-primary #{if "all".equals(currentTag)}active#{/if}" href="@{Application.index(1)}">all</a>
    #{list items:tags,as:"tag"}
        <a class="btn btn-primary #{if tag.tag.equals(currentTag)}active#{/if}"
           href="@{Application.index(1,tag.tag)}">${tag.tag}</a>
    #{/list}
    </div>
</div>

<div id="infotable">
    <table class="table">
        <thead>
        <tr>
            <th class="span2">发生时间</th>
            <th class="span2">死亡</th>
            <th class="span8">事故描述</th>
        </tr>
        </thead>
        <tbody>
        #{list items:accidents, as:"accident"}
        <tr class="accident"
            dateText='${accident.dateText}'
            desc='${accident.description}'
            addr='${accident.geo.formatted_address}'
            deadCount='${accident.deadCount}'
            lat='${accident.geo.geometry.location.lat}'
            lng='${accident.geo.geometry.location.lng}'
                >
            <td>${accident.dateText}</td>
            <td>${accident.deadCount}</td>
            <td>${accident.description}</td>
        </tr>
        #{/list}
        </tbody>
    </table>

</div>

<div style="text-align: center" class="pagination">
    <ul>
    #{if page>1}
        <li class="previous">
            <a href="@{Application.index(page-1)}"><img src="/public/flatui/images/pager/previous.png"/></a>
        </li>
    #{/if}
        <li class="active"><a>${page}</a></li>
    #{if size == accidents.size()}
        <li class="next">
            <a href="@{Application.index(page+1)}"><img src="/public/flatui/images/pager/next.png"/></a>
        </li>
    #{/if}
    </ul>
</div>

<div id="map-canvas" style="height:400px"></div>