<!DOCTYPE html>
<html>
<head>
    <script src="http://maps.googleapis.com/maps/api/js"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"/>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script>
        $(function(){
            function initialize() {
                var defaultCenter = new google.maps.LatLng(35.424867, 103.502197);

                var mapProp = {
                    center: defaultCenter,
                    zoom: 3,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }

                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp)
                var accidents = $(".accident")
                accidents.each(function (key, value) {
                    console.log("accident")
                    var myCenter = new google.maps.LatLng(
                            $(value).attr("lat"),
                            $(value).attr("lng")
                    );
                    var marker = new google.maps.Marker({
                        position: myCenter
                    });
                    marker.setMap(map);
                })
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        })
    </script>
</head>

<body>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Title</a>
        <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="googleMap" style="width:500px;height:380px;"></div>
    #{list items:accidents, as:"accident"}
        <div class="accident"
             lat='${accident.geo.geometry.location.lat}'
             lng='${accident.geo.geometry.location.lng}'
             addr='${accident.geo.formatted_address}'>
        ${accident.geo.formatted_address},
        ${accident.geo.geometry.location.lat},
        ${accident.geo.geometry.location.lng}
        </div>
    #{/list}
    </div>
</div>
</body>
</html>


