<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>China accidents</title>
    <link href="/public/flatui/css/bootstrap.css" rel="stylesheet">
    <link href="/public/flatui/css/flat-ui.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="/public/javascripts/jquery.min.js"></script>
</head>
<body>
<div id="page" class="container">
    <div class="row">
        <div class="span12">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div class="container">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li>
                                    <a>
                                        FMN
                                        <span class="navbar-unread">1</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">
                                        Accident
                                    </a>
                                    <!-- /Sub menu -->
                                </li>
                                <li>
                                    <a href="#">
                                        Relationship
                                        <span class="navbar-unread">1</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Hotspot
                                        <span class="navbar-unread">1</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="pagecontent" class="row">
        <div style="height: 100%" class="span12">
        #{doLayout /}
        </div>
    </div>

</div>

<footer class="palette palette-clouds">
    <div class="container">
        <div class="row">
            <div class="span7">
                <h3 class="footer-title">了解中国</h3>

                <p>FMN 自曲新闻- 我们真实报道<br>
                    <a href="http://fmnnow.com/" target="_blank">FREE MORE NEWS</a>
                </p>

            </div>
            <!-- /span8 -->

        </div>
    </div>
</footer>
</body>
</html>
